extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id='0' class='board') 0
  div(id='1' class='board') 1
  div(id='2' class='board') 2
  div(id='3' class='board') 3
  div(id='4' class='board') 4
  div(id='5' class='board') 5
  div(id='6' class='board') 6
  div(id='7' class='board') 7
  div(id='8' class='board') 8
  script(src='/javascripts/game-client.js')