doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/game-client.js')
  body
    block content
